*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
    font-family: "Space";
    src: url(fonts/Quantico-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

div {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    z-index: 2;
}

p {
    font-family: Space, fantasy;
    font-kerning: normal;
    font-weight: 400;
    color: white;
    position: fixed;
    bottom: 0px;
    font-size: 5rem;
    z-index: 3;
}

.smoothed {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#progress-outline {
    position: fixed;
    bottom: 110px;
    border: 8px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
    width: 300px;
    height: 35px;
    border-radius: 5px;
}

#progress-circle {
    position: relative;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 25px;
    height: calc(25px - 6px);
    left: calc(100% - 25px);
}



