*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@font-face {
    font-family: "Space";
    src: url(fonts/Quantico-Regular.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

div {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
    z-index: 2;
}

p {
    font-family: Space, monospace;
    font-weight: 400;
    color: white;
    position: fixed;
    bottom: 0px;
    font-size: 5rem;
    z-index: 3;
}



